<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP Clinique - Rendez-vous</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body>

<!-- Navbar -->
<nav th:replace="~{fragments/layout :: navbar}"></nav>

<!-- Alerts -->
<div th:replace="~{fragments/layout :: alerts}"></div>

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold">
            <i class="bi bi-calendar-check text-warning"></i> Liste des Rendez-vous
        </h2>
		<form th:action="@{/rendezvous}" method="get" class="mb-4 d-flex">
			<input type="text" name="keyword" th:value="${keyword}"
				   class="form-control me-2"
				    placeholder="Rechercher un rendezvous">
			<button class="btn btn-primary">
				  <i class="bi bi-search"></i>
			</button>
		</form>
        <a th:href="@{/rendezvous/new}" class="btn btn-warning">
            <i class="bi bi-plus-circle"></i> Nouveau Rendez-vous
        </a>
    </div>

    <!-- Tableau -->
    <div class="card shadow-sm">
        <div class="card-body p-0">
            <table class="table table-hover table-striped mb-0">
                <thead class="table-warning">
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
						<th>Heure</th>
                        <th>Motif</th>
                        <th>Patient</th>
                        <th>Medecin</th>
                        <th>Statut</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="rdv : ${rendezVousList}">
                        <td th:text="${rdv.id}"></td>
                        <td th:text="${rdv.date}"></td>
						<td th:text="${rdv.heure}"></td>
                        <td th:text="${rdv.motif}"></td>
                        <td th:text="${rdv.patient.nom + ' ' + rdv.patient.prenom}"></td>
                        <td th:text="${rdv.medecin.nom}"></td>
                        <td>
                            <span class="badge"
                                  th:classappend="${rdv.statut == 'EN_ATTENTE'} ? 'bg-secondary' :
                                                  (${rdv.statut == 'CONFIRME'} ? 'bg-primary' :
                                                  (${rdv.statut == 'ANNULE'} ? 'bg-danger' : 'bg-success'))"
                                  th:text="${rdv.statut}"></span>
                        </td>
                        <td class="text-center">
                            <a th:href="@{/rendezvous/edit/{id}(id=${rdv.id})}"
                               class="btn btn-sm btn-warning me-1" title="Modifier">
                                <i class="bi bi-pencil"></i> Modifier
                            </a>
                            <a th:href="@{/rendezvous/delete/{id}(id=${rdv.id})}"
                               class="btn btn-sm btn-danger"
                               onclick="return confirm('Etes-vous sur de vouloir supprimer ce rendez-vous ?')"
                               title="Supprimer">
                                <i class="bi bi-trash"></i> Supprimer
                            </a>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(rendezVousList)}">
                        <td colspan="7" class="text-center text-muted py-4">
                            <i class="bi bi-inbox fs-3 d-block mb-2"></i>
                            Aucun rendez-vous enregistre.
                        </td>
                    </tr>
                </tbody>
            </table>
			<nav>
				<ul class="pagination justify-content-center mt-4">
					<li class="page-item" th:if="${currentPage > 0}">
						<a class="page-link"
						   th:href="@{/rendezvous(page=${currentPage-1},keyword=${keyword})}">
						Préc
						</a>
					</li>
					<li class="page-item"
						    th:each="i : ${#numbers.sequence(0,totalPages-1)}"
						    th:classappend="${currentPage==i?'active':''}">
						<a class="page-link"
						   th:href="@{/rendezvous(page=${i},keyword=${keyword})}"
						   th:text="${i+1}">
						</a>
					</li>
					<li class="page-item" th:if="${currentPage < totalPages-1}">
						<a class="page-link"
						   th:href="@{/rendezvous(page=${currentPage+1},keyword=${keyword})}">
						Suiv
						</a>
					</li>
				</ul>
			</nav>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="~{fragments/layout :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
