<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Fragment agenda -->
<div th:fragment="agendaFragment">
    <div id='calendar'></div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                locale: 'fr',
                navLinks: true,
                selectable: true,
                nowIndicator: true,
                events: [
                    /* Injection des rendez-vous depuis le backend */
                    /* Example: [{title:'Consultation', start:'2026-02-26T10:00:00', end:'2026-02-26T11:00:00'}, ...] */
                    /* Boucle Thymeleaf sur les rendez-vous */
                    /* th:each injecte rdv dans le tableau JS */
                    /* Thymeleaf inline JS permet d’injecter les valeurs côté serveur */
                    /* Pour chaque rendez-vous du médecin connecté */
                    /* rdvs est la liste passée par le controller */
                    /* rdv.dateDebut et rdv.dateFin doivent être en ISO String 'YYYY-MM-DDTHH:mm:ss' */
                    /* rdv.patient.nom pour afficher le nom du patient dans le titre */
                    /* rdv.description optionnelle */
                    /* Vous pouvez ajouter plus de champs pour couleur, url, etc. */
                    /* Exemple complet ci-dessous */
                    /*[[${#lists.arrayList()}]]*/
                    /*[[# th:each="rdv : ${rdvs}" ]]*/
                    /*{
                        title: '[[${rdv.patient.nom}]]',
                        start: '[[${#dates.format(rdv.dateDebut,'yyyy-MM-dd\'T\'HH:mm:ss')}]]',
                        end: '[[${#dates.format(rdv.dateFin,'yyyy-MM-dd\'T\'HH:mm:ss')}]]',
                        description: '[[${rdv.description}]]'
                    },*/
                    /*[[/th:each]]*/
                ],
                eventClick: function(info) {
                    alert('Rendez-vous: ' + info.event.title + '\n' + info.event.extendedProps.description);
                }
            });

            calendar.render();
        });
        /*]]>*/
    </script>
</div>
</body>
</html>